In [4]:
# Importing CSV files into MYSQL
import csv
import MySQLdb


######################################################
#COMPLETE THE FOLLOWING ACCORDING TO YOUR MYSQL DATABASE
h=''
u=''
db=''
pswrd=''
######################################################

In [61]:
# Symbol table
mydb = MySQLdb.connect(host=h,
    user=u,
    passwd=pswrd,
    db=db)
cursor = mydb.cursor()
csv_data = csv.reader(open('sp100_csv.csv'))
for row in csv_data:
    cursor.execute('INSERT INTO symbols(symbol,name) VALUES(%s, %s)', row)
#close the connection to the database.
mydb.commit()
cursor.close()
print ("done")

done

In [31]:
# date conversion table

# creating a list of dates
import datetime

# This is for initial input. If you are updating, then set the start value to the day after the last record
# set end date to the current date
start = datetime.datetime.strptime("1998-01-01", "%Y-%m-%d")
end = datetime.datetime.strptime("2019-04-12", "%Y-%m-%d")
date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]

mydb = MySQLdb.connect(host=h,
    user=u,
    passwd=pswrd,
    db=db)
cursor = mydb.cursor()
# putting the list into mysql
for date in date_generated:    
    d = date.strftime("%Y-%m-%d")
    year = date.strftime("%Y")
    month = date.strftime("%m")
    day = date.strftime("%d")
    line = [d,year,month,day]
    cursor.execute('INSERT INTO date_conversion(date,year,month,day) VALUES(%s,%s,%s,%s)', line)
#close the connection to the database.
mydb.commit()
cursor.close()
print("done")

IntegrityError: (1062, "Duplicate entry '1998-01-01' for key 'PRIMARY'")

In [5]:
# daily_stock table 
mydb = MySQLdb.connect(host=h,
    user=u,
    passwd=pswrd,
    db=db)
cursor = mydb.cursor()
csv_data = csv.reader(open('daily_adjusted.csv'))
headers = next(csv_data) 
count=0
for row in csv_data:
    count=count+1
    cursor.execute('INSERT INTO daily_stock(daily_id, d_open, d_high, d_low,d_close, d_adjusted_close,\
    d_volume, d_dividend, split, symbol, date) \
        VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)', row)
#close the connection to the database.
mydb.commit()
cursor.close()
print("done")

done

In [78]:
# monthly_macro table 
mydb = MySQLdb.connect(host=h,
    user=u,
    passwd=pswrd,
    db=db)
cursor = mydb.cursor()
csv_data = csv.reader(open('monthly_macro.csv'))
headers = next(csv_data) 
headers
for row in csv_data:
    cursor.execute('INSERT INTO monthly_macro(date,unemployment, trade_balance,fed_funds,cpi,year,month) \
         VALUES(%s,%s,%s,%s,%s,%s,%s)', row)
#close the connection to the database.
mydb.commit()
cursor.close()
print("done")

done

In [82]:
# monthly_stock table 
mydb = MySQLdb.connect(host=h,
    user=u,
    passwd=pswrd,
    db=db)
cursor = mydb.cursor()
csv_data = csv.reader(open('gdp_q.csv'))
headers = next(csv_data) 
headers
for row in csv_data:
    cursor.execute('INSERT INTO gdp_q(date,gdp,gdp_percentage,year,month) VALUES(%s,%s,%s,%s,%s)', row)
#close the connection to the database.
mydb.commit()
cursor.close()
print("done")

done